llama/
__pycache__/
7B/
checkpoints/

LegalAdapterTraining/checkpoints_masked/
ChatAdpaterTraining/checkpoints_unmasked/
LegalAdapterTraining/checkpoints_masked/checkpoint-200/
LegalAdapterTraining/checkpoints_masked/checkpoint-400/
LegalAdapterTraining/checkpoints_unmasked/checkpoint-200/
LegalAdapterTraining/checkpoints_unmasked/checkpoint-400/
ChatAdpaterTraining/checkpoints_unmasked/checkpoint-200/
ChatAdpaterTraining/checkpoints_unmasked/checkpoint-400/
LegalAdapterTraining/checkpoints_unmasked/checkpoint-600/trainer_state.json

clmTutorial/
.ipynb_checkpoints/
causalLMTutorial.ipynb
convert_llama_weights_to_hf.py
dataset_test.ipynb
utils.multiple_choice.py
utils.py

*.pth
*.pkl
run.sh
*.out
*.pt
*.pth